@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  /* background-color: aqua; */
}

/* React root */


/* Chrome, Safari */
* #root::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar::-webkit-scrollbar {
  /* -ms-overflow-style: none;  IE and Edge */
    display: none;/* Firefox */
}


.skeleton {
  background: #e5e7eb; /* base gray */
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(229,231,235,0) 0%,
    rgba(255,255,255,0.9) 50%,
    rgba(229,231,235,0) 100%
  );

  transform: translateX(-100%);
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
