@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  /* background-color: aqua; */
}

/* React root */


/* Chrome, Safari */
* #root::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar::-webkit-scrollbar {
  /* -ms-overflow-style: none;  IE and Edge */
    display: none;/* Firefox */
}
